.fxs-content-module-wrapper {
  border: 1px solid #dddedf;
  background: #fff;
  margin-bottom: 32px;
  width: 100%;
  float: left;
  font-family: "Roboto", sans-serif;
}

.fxs-content-module-title {
  color: #1b1c23;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 22.4px;
  text-transform: uppercase;
  background: #f3f3f8;
  padding: 8px 16px;
  margin: 0;
}

.fxs-content-module-container {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fxs-content-module-section {
  padding-bottom: 16px;
  border-bottom: 1px solid #ececf1;
  margin-bottom: 0;
}

.fxs-content-module-section:last-child {
  border: none;
  margin-bottom: 0;
}

.fxs-content-module-section input[type="checkbox"] {
  display: none;
}

.fxs-content-module-header {
  padding: 4px 0px;
  background-color: white;
  border: none;
  position: relative;
  padding-right: 32px;
  cursor: pointer;
  margin: 0;
}

.fxs-content-module-header:after,
.fxs-content-module-header:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 8px;
  height: 2px;
  background-color: #49494f;
  transition: all 0.2s ease-in-out;
  transition-delay: 0;
}

.fxs-content-module-header:after {
  transform: rotate(45deg) translateX(-4px);
}

.fxs-content-module-header:before {
  transform: rotate(-45deg) translateX(4px);
}

.fxs-content-module-header:after,
.fxs-content-module-header:before {
  transition: transform 300ms ease-in-out;
}

input[type="checkbox"]:checked + label .fxs-content-module-header:after {
  transform: rotate(45deg) translateX(4px);
}

input[type="checkbox"]:checked + label .fxs-content-module-header:before {
  transform: rotate(-45deg) translateX(-4px);
}

.fxs-content-module-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
  color: #49494f;
  font-weight: 300;
  padding: 0;
  font-size: 14.72px;
  line-height: 20px;
  margin: 0;
  display: none;
}

input[type="checkbox"]:checked + label .fxs-content-module-content {
  display: block;
  max-height: 1000px;
  margin-top: 8px;
}
