.fxs-major-currency-prices-wrapper {
  border: 1px solid #dddedf;
  background: #fff;
  margin-bottom: 32px;
  width: 100%;
  float: left;
}
.fxs-major-currency-prices-title {
  color: #1b1c23;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 22.4px;
  text-transform: uppercase;
  background: #f3f3f8;
  padding: 8px 16px;
  margin: 0;
}
.fxs-major-currency-prices-content {
  color: #49494f;
  font-weight: 300;
  padding: 0;
  font-size: 14.72px;
  line-height: 20px;
  margin: 8px 16px;
}
table.fxs-major-currency-prices-currency-prices-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.8svh;
}
table.fxs-major-currency-prices-currency-prices-table th {
  background-color: #f2f2f2;
}
table.fxs-major-currency-prices-currency-prices-table td {
  color: #fff;
}
table.fxs-major-currency-prices-currency-prices-table td.green {
  background-color: #9cd6cd;
}
table.fxs-major-currency-prices-currency-prices-table td.red {
  background-color: #faafb5;
}
table.fxs-major-currency-prices-currency-prices-table td.blue-grey {
  background-color: #888a93;
}
.fxs-major-currency-prices-currency-prices-legend {
  font-size: 11px;
  margin: 8px;
  color: #49494f;
}
@media (min-width: 680px) {
  .fxs-major-currency-prices-content {
    font-size: 16px;
    line-height: 21.6px;
  }
  .fxs-major-currency-prices-title {
    font-size: 19.2px;
    line-height: 27.2px;
  }
}
